.root {
  font-family: cursive;
}
.root {
  padding: 0%;
  margin: 0;
}

.main_container {
  width: 100%;
}

.header {
  width: 100%;
  background-color: antiquewhite;
}

.dogbackgroundimg-top {
  width: 100%;
  top: 0;
  position: fixed;
}

.dogbackgroundimg-bottom {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.mid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_introduce-profile {
  position: fixed;
  width: 900px;
  height: 900px;

  z-index: 9999;
}
.main_introduce-text {
  font-size: 80px;
  z-index: 1;
}
.fa-mars {
  color: blue;
}
